{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "parserOptions": {
      "ecmaVersion": 6,
      "jsx": true,
      "sourceType": "module"
    },
    "env": {
      "browser": true,
      "node": true,
      "mocha": true
    },
    "plugins": [
        "react",
        "babel"
    ],
    "rules": {
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    }
}
